@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,body{
    height:100%;
    width: 100%;
    font-size: 62.5%;
}
body{
    background-color:white;
}

#root{
    width: 100%;
    height: 100%;
}
.App{
    display:grid;
    grid-template-rows: 7rem auto 5rem;
    grid-template-areas: "header" "main" "footer";
}

.header{
    grid-area: "header";
}

.main{
    grid-area:"main";
}
.footer{
    grid-area:"footer" 
}


@keyframes slider1 {
    0%{
        transform: translateX(0%)
    };
    50%{
        transform: translateX(-100%)  
    };
    100%{
        transform:translateX(-200%)
    }
}


@keyframes slider2 {
    0% {
        transform: translateX(100%)
    };
    50%{
        transform: translateX(-100%)  
    };
    100%{
        transform:translateX(-100%)
    }
}

@keyframes slider3 {
    0% {
        transform: translateX(200%)
    };
    50%{
        transform: translateX(100%)  
    };
    100%{
        transform:translateX(0%)
    }
}

.carousel_1{
    animation:slider1 10s ease-in-out infinite
}

.carousel_2{
    animation:slider2 10s ease-in-out infinite
}

.carousel_3{
    animation:slider3 10s ease-in-out infinite
}