@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,body{
    height:100%;
    width: 100%;
    font-size: 62.5%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
    width: 100%;
    height: 100%;
}
/* .App{
    display:grid;
    grid-template-rows: 7rem auto 5rem;
    grid-template-areas: "header" "main" "footer";
    font-family: sans-serif;
} */

/* .header{
    grid-area: "header";
}

.main{
    grid-area:"main";
}
.footer{
    grid-area:"footer" 
} */

@layer base{
    body{
        @apply dark:bg-black
    }
    #root{
      @apply dark:bg-black
    }
   
}

@layer utilities{
  .octagon{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  };
  .hexagon{
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  };
  .rectangle{
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  };
  .text-margin-start{
    margin-block-start: 1em;  
  };
  .text-margin-end{
    margin-block-end: 1em;
  }
  .text-inline-start{
    margin-inline-start: 0px;
  }
  .text-inline-end{
    margin-inline-end: 0px;
  }
 
}

@layer utilities{
  .label{
    @apply text-white
  }
}


